<%- include('../layouts/admin/header') %>

    <div class="row">
        <div class="col-8">
            <div class="order-details-page">
                <!-- Order ID Section -->
                <div class="order-id-section">
                    <div class="order-id">Order Details:</div>
                    <div class="order-date">Ordered at <%= order.createdAt.toDateString() %>
                    </div>
                    <div class="payment-status">
                        <%= order.paymentMethod %>
                    </div>
                </div>

                <% order.items.forEach(item=> { %>
                    <!-- Order Item Container -->
                    <div class="order-item-container">
                        <div class="order-item">
                            <div class="item-category">
                                <%= item.variant.productId.productName %>
                            </div>
                            <div class="item-status <%= order.status.toLowerCase() %>">
                                <%= order.status %>
                            </div>
                            <div class="item-price text-success">₹<%= item.variant.price %>
                            </div>
                            <div class="item-info">
                                <img src="<%= item.variant.variantImages[0].replace('uploads', '') %>" alt=""
                                    height="100">
                                <div class="item-details">
                                    <div class="item-name">Quantity: <%= item.quantity %>
                                    </div>
                                    <div class="item-type">
                                        <%= item.variant.storage %>, <%= item.variant.RAM %>
                                    </div>
                                    <div class="item-color-size">
                                        <%= item.variant.color %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>

                        <!-- Order Summary Container -->
                        <div class="order-summary-container">
                            <div class="summary-header">Order Summary</div>
                            <div class="summary-details">
                                <div class="summary-total">
                                    <div class="label">Total</div>
                                    <div class="value">₹<%= order.totalAmount %>.00</div>
                                </div>
                            </div>
                        </div>

                        <!-- Status Update Form -->
                        <form action="/admin/orders/<%= order._id %>/status" method="POST">
                            <div class="form-group">
                                <label for="status">Order Status</label>
                                <select name="status" id="status" class="form-control">
                                    <% if (order.status==='Pending' ) { %>
                                        <option value="Pending" selected>Pending</option>
                                        <option value="Delivered">Delivered</option>
                                        <option value="Cancelled">Cancelled</option>
                                        <option value="Returned">Returned</option>
                                        <% } else if (order.status==='Delivered' ) { %>
                                            <option value="Delivered" selected>Delivered</option>
                                            <% } else if (order.status==='Cancelled' ) { %>
                                                <option value="Cancelled" selected>Cancelled</option>
                                                <% } else if (order.status==='Returned' ) { %>
                                                    <option value="Returned" selected>Returned</option>
                                                    <% } %>
                                </select>
                            </div>
                            <% if (order.status==='Pending' ) { %>
                                <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal"
                                    data-bs-target="#confirmationModal">Update Status</button>
                                <% } else { %>
                                    <div class="alert alert-warning mt-3">
                                        You can't update the status once it is <strong>
                                            <%= order.status %>
                                        </strong>.
                                    </div>
                                    <% } %>
                        </form>
            </div>
        </div>

        <div class="col-4">
            <!-- Shipping Address Container -->
            <div class="shipping-address-container" style="margin-top: 50px;">
                <div class="shipping-header">Shipping Address</div>
                <div class="shipping-details">
                    <div class="shipping-name">
                        <%= order.user.username %>
                    </div>
                    <div class="shipping-address">
                        <%= order.shippingAddress.street %>, <%= order.shippingAddress.city %><br />
                                <%= order.shippingAddress.state %><br />
                                    <%= order.shippingAddress.country %>, <%= order.shippingAddress.zip %>
                    </div>
                    <div class="shipping-contact">Phone: <%= order.shippingAddress.phoneNumber %>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>
    </div>
    </div>


    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Status Change</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to change the status of this Order?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmAction">Confirm</button>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery and DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).on('click', '#confirmAction', function () {
            $('form').submit();
        });



    </script>

    </body>

    </html>