<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <style>
        .quantity-control {
            display: flex;
            align-items: center;
        }

        .quantity-control input[type="number"] {
            width: 50px;
            text-align: center;
            border: none;
            outline: none;
        }

        .quantity-control button {
            padding: 0 10px;
            background-color: #ddd;
            border: 1px solid #ccc;
            cursor: pointer;
            font-size: 18px;
            outline: none;
        }

        .quantity-control button:disabled {
            cursor: not-allowed;
            background-color: #f9f9f9;
        }

        .quantity-control button:hover:not(:disabled) {
            background-color: #ccc;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">₹0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <p class="navbar-nav" id="authSection">
                                    <!-- Placeholder for auth content -->
                                </p>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <% if (cart && cart.items.length> 0) { %>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cart.items.forEach(item=> { %>
                                        <tr>

                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                    <img src="<%= item.variant.variantImages[0].replace('uploads', '') %>"
                                                        alt="" height="100">
                                                </div>
                                                <div class="product__cart__item__text">
                                                    <h6>
                                                        <%= item.variant.productId.productName %>
                                                    </h6>
                                                    <h5>₹<%= item.variant.price %>
                                                    </h5>
                                                </div>
                                            </td>
                                            <td class="quantity__item">
                                                <div class="quantity-control">
                                                    <form id="form-<%= item.variant._id %>" onsubmit="return false;">
                                                        <input type="hidden" name="quantity" id="quantity-<%= item.variant._id %>" value="<%= item.quantity %>">
                                                        <button type="button" onclick="updateQuantity('<%= item.variant._id %>', 'decrease')" <%= item.quantity === 1 ? 'disabled' : '' %>>-</button>
                                                        <input type="number" id="display-quantity-<%= item.variant._id %>" value="<%= item.quantity %>" disabled>
                                                        <button type="button" onclick="updateQuantity('<%= item.variant._id %>', 'increase')">+</button>
                                                    </form>
                                                </div>
                                            </td>
                                            
                                            <!-- <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td> -->
                                            <td class="cart__price">₹<%= item.variant.price * item.quantity %>
                                            </td>
                                            <!-- <td class="cart__close"><i class="fa fa-close"></i></td> -->
                                            <td class="cart__close">
                                                <form action="/cart/remove/<%= item.variant._id %>" method="POST" onsubmit="return confirm('Are you sure you want to remove this item from your cart?')" >
                                                    <button type="submit" class="btn btn-danger">remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/shop">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div> -->
                    <% if (messages.info) { %>
                        <div class="alert alert-info">
                            <%= messages.info %>
                        </div>
                        <% } %>
                            <% if (messages.success) { %>
                                <div class="alert alert-success">
                                    <%= messages.success %>
                                </div>
                                <% } %>
                                    <% if (messages.error) { %>
                                        <div class="alert alert-danger">
                                            <%= messages.error %>
                                        </div>
                                        <% } %>
                                            <div class="cart__total">
                                                <h6>Cart total</h6>
                                                <ul>
                                                    <li>Subtotal <span>₹ 169.50</span></li>
                                                    <li>Total <span>₹<%= cart.items.reduce((acc, item)=> acc +
                                                                item.variant.price * item.quantity, 0) %></span></li>
                                                </ul>
                                                <form id="checkout-form" action="/checkout" method="POST">
                                                    <a type="submit" href="#" class="primary-btn"
                                                        onclick="document.getElementById('checkout-form').submit();">Proceed
                                                        to Checkout</a>
                                                </form>

                                            </div>
                </div>
            </div>
            <% } else { %>
                <p>Your cart is empty.</p>
                <a href="/shop" class="primary-btn">Continue Shopping</a>
                <% } %>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        function updateQuantity(variantId, action) {
    const quantityInput = document.getElementById(`quantity-${variantId}`);
    const displayQuantityInput = document.getElementById(`display-quantity-${variantId}`);
    let currentQuantity = parseInt(quantityInput.value);
    const maxQuantity = 10; // Limit the quantity to 10

    fetch(`/product/variant/${variantId}/stock`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Error fetching stock information');
            }
            return response.json();
        })
        .then(data => {
            const availableStock = data.stocks;

            if (action === 'increase' && currentQuantity < availableStock && currentQuantity < maxQuantity) {
                currentQuantity++;
            } else if (action === 'decrease' && currentQuantity > 1) {
                currentQuantity--;
            }

            // Ensure currentQuantity does not exceed availableStock
            if (currentQuantity > availableStock) {
                alert(`Only ${availableStock} items available in stock.`);
                currentQuantity = availableStock;
            }

            // Ensure currentQuantity does not exceed maxQuantity
            if (currentQuantity > maxQuantity) {
                alert('Quantity limit reached for the product');
                currentQuantity = maxQuantity;
            }

            // Update the hidden input and the displayed quantity
            quantityInput.value = currentQuantity;
            displayQuantityInput.value = currentQuantity;

            // Perform the AJAX update
            return fetch(`/cart/update/${variantId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ quantity: currentQuantity })
            });
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(error => {
                    throw new Error(error.message);
                });
            }
            return response.json();
        })
        .then(result => {
            if (result.success) {
                console.log('Cart updated successfully.');
            } else {
                alert('Error updating cart: ' + result.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert(`Error updating cart: ${error.message}`);
        });
}


        // function updateQuantity(variantId, operation) {
        //         const quantityInput = document.getElementById(`quantity-${variantId}`);
        //         let currentQuantity = parseInt(quantityInput.value);

        //         if (operation === 'decrease' && currentQuantity > 1) {
        //             currentQuantity--;
        //         } else if (operation === 'increase') {
        //             currentQuantity++;
        //         }

        //         quantityInput.value = currentQuantity;

        //         // Submit form to update quantity in the backend
        //         document.getElementById(`form-${variantId}`).submit();
        //     }

        // Set the selected option based on the query parameter
        // document.addEventListener('DOMContentLoaded', () => {
        //     const urlParams = new URLSearchParams(window.location.search);
        //     const sortBy = urlParams.get('sortBy');
        //     if (sortBy) {
        //         document.getElementById('sort-price').value = sortBy;
        //     }
        // });


    </script>
</body>

</html>

<!-- function applyFilters() {
    const sortBy = document.getElementById('sortBy').value;
    const brandFilters = Array.from(document.querySelectorAll('.brand-filter:checked')).map(el => el.value);

    let queryString = `?sortBy=${sortBy}`;
    if (brandFilters.length > 0) {
        queryString += `&brands=${brandFilters.join(',')}`;
    }

    window.location.href = `/shop${queryString}`;
}

function sortProducts() {
    const sortBy = document.getElementById('sortBy').value;
    window.location.href = `/shop?sortBy=${sortBy}`;
} -->